<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="__next">
      <div class="flex min-h-screen flex-col bg-white text-black">
        <div
          class="sticky top-0 z-10 flex flex-wrap items-center gap-x-5 bg-white/80 px-4 py-4 backdrop-blur md:px-16 md:py-5 lg:px-32"
        >
          <a
            class="text-lg font-extrabold text-black hover:text-black md:text-xl"
            href="/"
            >Home</a
          ><a
            class="text-lg hover:text-black md:text-xl text-gray-600"
            href="/projects/visual-editing"
            >Visual Editing</a
          >
          <a
            class="text-lg hover:text-black md:text-xl text-gray-600"
            href="/about"
            >About</a
          >
        </div>
        <div class="mt-20 flex-grow px-4 md:px-16 lg:px-32">
          <div class="space-y-20">
            <div class="text-center">
              <div class="text-3xl font-extrabold tracking-tight md:text-5xl">
                Visual Editing Demo
              </div>
              <div class="mt-4 font-serif text-xl text-gray-600 md:text-2xl">
                <p>
                  Visual Editing from Sanity and Vercel provides intuitive, fast
                  content management for headless architectures.
                </p>
              </div>
            </div>
            <div class="mx-auto max-w-[100rem] rounded-md border">
              <a href="/projects/visual-editing"
                ><div
                  class="flex flex-col gap-x-5 p-2 transition hover:bg-gray-50/50 xl:flex-row 0"
                >
                  <div class="w-full xl:w-9/12">
                    <div
                      class="w-full overflow-hidden rounded-[3px] bg-gray-50 relative aspect-[16/9]"
                    >
                      <img
                        alt="xxx"
                        loading="lazy"
                        width="3500"
                        height="2000"
                        decoding="async"
                        data-nimg="1"
                        class="absolute h-full w-full"
                        style="color: transparent"
                        sizes="100vw"
      
                        src="/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fr0z1eifg%2Fpersonal-website-vercel-visual-editing-dev%2F6bf20f49a906228bb2468c4baf99ec5607b1df4f-3840x1734.png%3Frect%3D403%2C0%2C3035%2C1734%26w%3D3500%26h%3D2000%26fit%3Dcrop%26auto%3Dformat&amp;w=3840&amp;q=75"
                      />
                    </div>
                  </div>
                  <div class="flex xl:w-1/4">
                    <div
                      class="relative mt-2 flex w-full flex-col justify-between p-3 xl:mt-0"
                    >
                      <div>
                        <div
                          class="mb-2 text-xl font-extrabold tracking-tight md:text-2xl"
                        >
                          Visual Editing
                        </div>
                        <div class="font-serif text-gray-500">
                          <p>
                            Intuitive content editing for websites built with
                            headless architectures.
                          </p>
                        </div>
                      </div>
                      <div class="mt-4 flex flex-row gap-x-2">
                        <div class="text-sm font-medium lowercase md:text-lg">
                          #<!-- -->headless
                        </div>
                        <div class="text-sm font-medium lowercase md:text-lg">
                          #<!-- -->editing
                        </div>
                      </div>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>
        <footer
          class="bottom-0 w-full bg-white px-12 py-12 text-center md:py-20"
        >
          <p class="text-md md:text-xl">
            "The future is already here. It’s just not evenly distributed yet."
          </p>
          <p class="text-md md:text-xl">William Gibson</p>
        </footer>
        <div class="flex justify-center border-t border-gray-100 bg-gray-50/50">
          <div
            class="mb-4 mt-20 grid max-w-screen-2xl grid-cols-1 gap-y-20 md:grid-cols-2 md:gap-x-16 md:gap-y-32 lg:gap-x-32"
          >
            <div class="self-center">
              <img
                alt="An illustration of a browser window, a terminal window, the Sanity.io logo and the NextJS logo"
                loading="lazy"
                width="1234"
                height="834"
                decoding="async"
                data-nimg="1"
                srcset="
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcover.d8091a45.png&amp;w=1920&amp;q=75 1x,
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcover.d8091a45.png&amp;w=3840&amp;q=75 2x
                "
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcover.d8091a45.png&amp;w=3840&amp;q=75"
                style="color: transparent"
              />
              <div class="mt-10 hidden px-14 text-xs text-gray-700 md:block">
                <a
                  class="hover:text-blue-800"
                  href="https://github.com/sanity-io/sanity-template-vercel-visual-editing/blob/main/README.md#user-content-how-can-i-remove-the-next-steps-block-from-my-personal-website"
                  target="_blank"
                  rel="noreferrer"
                  >How to remove this block?</a
                >
              </div>
            </div>
            <div class="mx-6 md:mx-0 md:mr-24">
              <h2 class="mb-5 text-xl font-bold tracking-tight md:text-5xl">
                Next steps
              </h2>
              <ol>
                <li
                  class="mt-2 grid grid-flow-col grid-rows-1 place-content-start gap-3"
                >
                  <div class="row-span-3 select-none">
                    <div
                      class="relative flex h-5 w-5 select-none items-center justify-center rounded-full bg-gray-200 p-3 text-center"
                    >
                      1
                    </div>
                  </div>
                  <div>
                    <div class="col-span-2 mb-2 mt-1 font-semibold">
                      Create a schema
                    </div>
                    <div class="text-xs text-gray-700">
                      Your code can be found at<a
                        class="mx-1 underline hover:text-blue-800"
                        href="https://github.com/sanity-io/sanity-template-vercel-visual-editing"
                        target="_blank"
                        rel="noreferrer"
                        >https://github.com/sanity-io/sanity-template-vercel-visual-editing</a
                      >
                    </div>
                    <div class="mt-3">
                      <a
                        class="inline-flex rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-800"
                        href="https://github.com/sanity-io/sanity-template-vercel-visual-editing"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Go to GitHub repo</a
                      >
                    </div>
                  </div>
                </li>
                <li
                  class="mt-2 grid grid-flow-col grid-rows-1 place-content-start gap-3"
                >
                  <div class="row-span-3 select-none">
                    <div
                      class="relative flex h-5 w-5 select-none items-center justify-center rounded-full bg-gray-200 p-3 text-center"
                    >
                      2
                    </div>
                  </div>
                  <div>
                    <div class="col-span-2 mb-2 mt-1 font-semibold">
                      Create content with Sanity Studio
                    </div>
                    <div class="text-xs text-gray-700">
                      Your Sanity Studio is deployed at<a
                        class="mx-1 underline hover:text-blue-800"
                        href="https://sanity-template-vercel-visual-editing-git-preview.sanity.build/studio"
                        >https://sanity-template-vercel-visual-editing-git-preview.sanity.build/studio</a
                      >
                    </div>
                    <div class="mt-3">
                      <a
                        class="inline-flex rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-800"
                        href="https://sanity-template-vercel-visual-editing-git-preview.sanity.build/studio"
                        >Go to Sanity Studio</a
                      >
                    </div>
                  </div>
                </li>
                <li
                  class="mt-2 grid grid-flow-col grid-rows-1 place-content-start gap-3"
                >
                  <div class="row-span-3 select-none">
                    <div
                      class="relative flex h-5 w-5 select-none items-center justify-center rounded-full bg-gray-200 p-3 text-center"
                    >
                      3
                    </div>
                  </div>
                  <div>
                    <div class="col-span-2 mb-3 mt-1 font-semibold">
                      Learn more and get help
                    </div>
                    <ul>
                      <li class="mb-2">
                        <a
                          href="https://www.sanity.io/docs"
                          class="text-blue-500 underline hover:text-blue-800"
                          target="_blank"
                          rel="noreferrer"
                          >Documentation for Sanity</a
                        >
                      </li>
                      <li class="mb-2">
                        <a
                          href="https://nextjs.org/docs"
                          class="text-blue-500 underline hover:text-blue-800"
                          target="_blank"
                          rel="noreferrer"
                          >Documentation for Next.js</a
                        >
                      </li>
                      <li class="mb-2">
                        <a
                          href="https://slack.sanity.io/"
                          class="text-blue-500 underline hover:text-blue-800"
                          target="_blank"
                          rel="noreferrer"
                          >Join the Sanity Community</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
              </ol>
              <div class="text-center text-xs text-gray-700 md:invisible">
                <a
                  class="hover:text-blue-800"
                  href="https://github.com/sanity-io/sanity-template-vercel-visual-editing/blob/main/README.md#user-content-how-can-i-remove-the-next-steps-block-from-my-personal-website"
                  target="_blank"
                  rel="noreferrer"
                  >How to remove this block?</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--$--><!--/$-->
    </div>
  </body>
</html>
